<h1>Tasks:</h1>

<div id="app">
  <h6>Number of Tasks: {{ tasks.length }}</h6>
  <div v-for="task in tasks">
    <ul>
      <h3 v-on:click="toggle(task)">Task:</h3> 
      <li v-bind:class="{strike: task.complete}">{{ task.name }}</li>
    </ul>
    <button v-on:click="deleteTask(task)">Delete</button>
<!--     <input type="text" v-model="task">
    <input type="submit" value="update"> -->
  </div>

  <h4>Add Task:</h4>
  <input type="text" v-model="newTask">
  <button v-on:click="addTask()">Add Task</button>
  </form>
</div>