<h1>Tasks:</h1>

<div id="app">
  <div v-for="task in tasks" v-on:click="deleteTask(task)">
    <ul>
      <li>Task: {{ task }}</h3>
    </ul>
<!--     <input type="text" v-model="task">
    <input type="submit" value="update"> -->
  </div>

  <h4>Add Task:</h4>
  <input type="text" v-model="newTask">
  <button v-on:click="addTask()">Add Task</button>
  </form>
</div>